*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 192, 234);
    padding: 20px ;
    text-align: center;
   }

   h1{ 
    color: rgb(128, 0, 100) ;
    font-family:"Arial", sans-serif ;
       font-size: 40px;
       margin-bottom: 20px;
   }


  p {
     font-family: "Verdana", sans-serif;
     font-size: 18px;
    
  }

  nav{
      background-color: #D8BFD8;
      padding: 10px;
      text-align: center;
  }
  nav a{
    font-family:"Verdana", sans-serif;
    font-size: 16px;
    color:black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
      }

      a:hover{
background-color: white ;
    transition: background-color 0.4s;
      }

  main{ 
    background-color: #E0FFFF;
    height: 100vh;
    padding: 0px 20px;
      }
    
.nome-autor-data{
  display: flex;
  flex-direction: column;
  margin:10px 0;
}

 
      section {
         display: flex;
         flex-direction: column;
         align-items: center;
         background-color: #E6E6FA;
         padding: 20px;
         width: 800px;
         max-width: 100%;
         margin:auto;
         border-radius: 0px 0px 10px 10px;
      }
      

      section h2 {
        font-family: "poppins", sans-serif;
        font-size: 28px;
        color:black;
        text-align: center;
        margin-bottom: 20px;
      }

      section h3 {
        font-family: "JetBrains Mono", sans-serif;
        font-size: 22px;
        margin: 10px;
        color: rgb(121, 94, 94);
      }
     
      section p{
        line-height: 1.6;
        font-size: 18px;
        color: rgb(214, 18, 18);
        margin-bottom: 10px;
      }
     img{
        max-width: 100%;
        margin-top: 10px;
     }
